# TODO: this is the output of pip freeze, most of the packages are dependencies and should be
# removed.
alabaster==0.7.12
astroid==1.4.9
attrs==20.3.0
autobahn==21.2.1
Automat==20.2.0
Babel==2.9.0
blockdiag==2.0.1
boto3==1.17.22
botocore==1.20.22
cairocffi==1.2.0
CairoSVG==2.5.1
certifi==2020.12.5
cffi==1.14.5
characteristic==14.3.0
chardet==4.0.0
click==7.1.2
constantly==15.1.0
cryptography==3.4.6
cssselect2==0.4.1
decorator==4.4.2
defusedxml==0.6.0
docker==4.4.4
docutils==0.16
flake8==2.6.2
funcparserlib==0.3.6
future==0.18.2
hyperlink==21.0.0
idna==2.10
imagesize==1.2.0
importlib-metadata==3.7.0
incremental==17.5.0
influxdb==5.3.1
isort==5.7.0
Jinja2==2.11.3
jmespath==0.10.0
klein==20.6.0
lazy-object-proxy==1.5.2
ldap3==2.9
lz4==3.1.3
Markdown==3.3.4
MarkupSafe==1.1.1
mccabe==0.5.3
mock==4.0.3
more-itertools==8.7.0
moto==2.0.1
msgpack==1.0.2
mysqlclient==2.0.3
packaging==20.9
parameterized==0.8.1
pbr==5.5.1
pep8==1.7.1
Pillow==8.1.0
pkg-resources==0.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.0.0
pycparser==2.20
pyenchant==3.2.0
pyflakes==1.2.3
Pygments==2.8.0
PyHamcrest==2.0.2
PyJWT==2.0.1
pylint==1.6.5
pyOpenSSL==20.0.1
pyparsing==2.4.7
pypugjs==5.9.9
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
responses==0.12.1
rocket-python==1.2.15
s3transfer==0.3.4
service-identity==18.1.0
setuptools-trial==0.6.0
six==1.15.0
snowballstemmer==2.1.0
Sphinx==3.5.1
sphinx-jinja==1.1.1
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-blockdiag==2.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-spelling==7.1.0
sphinxcontrib-websupport==1.2.4
SQLAlchemy==1.3.23
sqlalchemy-migrate==0.13.0
sqlparse==0.4.1
Tempita==0.5.2
tinycss2==1.1.0
toml==0.10.2
towncrier==19.2.0
treq==21.1.0
Tubes==0.2.0
Twisted==20.3.0
txaio==21.2.1
txrequests==0.9.6
typing-extensions==3.7.4.3
urllib3==1.26.3
webcolors==1.11.1
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
xmltodict==0.12.0
zipp==3.4.0
zope.interface==5.2.0
